---
- name: Install desktop packages.
  ansible.builtin.package:
    name: "{{ desktop_packages }}"
    state: "{{ desktop_packages_state }}"
    update_cache: true

# ffmpeg-free provided by fedora repo does not contain all video codecs (h264)
# see https://rpmfusion.org/Howto/Multimedia
- name: Replace ffmpeg-free with RPM Fusion ffmpeg
  ansible.builtin.dnf:
    name: ffmpeg
    state: present
    allowerasing: true

- name: Install Dropbox (from RPM Fusion non free repo).
  ansible.builtin.package:
    name: "{{ dropbox_packages }}"
    state: "{{ dropbox_packages_state }}"

- name: Install requirements for ansible dconf module.
  ansible.builtin.package:
    name: "{{ dconf_requirements_packages }}"
    state: "{{ dconf_requirements_packages_state }}"

- name: Ensure {{ work_dir }} is created
  ansible.builtin.file:
    path: "{{ work_dir }}"
    state: directory
    mode: "0755"
    owner: "{{ linux_user }}"
    group: "{{ linux_user }}"

# this file is known to generate "_comp_compgen: -C: invalid directory name" bash completion errors
- name: Ensure deprecated bash completions functions are removed
  ansible.builtin.file:
    path: "{{ bash_deprecated_functions_path }}"
    state: absent

# for PS1 \h variable to be static
- name: Set a static hostname
  ansible.builtin.hostname:
    name: "{{ desktop_hostname }}"
