---
- name: Install desktop packages.
  ansible.builtin.package:
    name: "{{ desktop_packages }}"
    state: "{{ desktop_packages_state }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install Dropbox (from RPM Fusion non free repo).
  ansible.builtin.package:
    name: "{{ dropbox_packages }}"
    state: "{{ dropbox_packages_state }}"

- name: Install requirements for ansible dconf module.
  ansible.builtin.package:
    name: "{{ dconf_requirements_packages }}"
    state: "{{ dconf_requirements_packages_state }}"

- name: Ensure {{ work_dir }} is created
  ansible.builtin.file:
    path: "{{ work_dir }}"
    state: directory
    mode: "0755"
    owner: "{{ linux_user }}"
    group: "{{ linux_user }}"
